body {
  font-family: sans-serif;
  background: -webkit-linear-gradient(to right, #466594, #599543);
  background: linear-gradient(to right, #599543, #466594);
  color: whitesmoke;
}

h1 {
  text-align: center;
}

header {
  text-align: center;
}

ul {
  list-style-type: none;

}

div.user-login {
  position: absolute;
  z-index: 2;
  right: 15%;
  top: 0ic;
  display: inline-block;
}

ul.user-unlogin {
  margin-left: 80%;
}


div.user-register {
  padding: 0;
  position: absolute;
  right: 100px;
  top: 0ic;
  margin-left: 75%;
  display: inline-block;
}

ul.user-register {
  margin-left: 45%;
}

